@model List<Haber>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Haber <b>Editörü</b></h2></div>
                <div class="col-sm-4">
                    <a type="button" asp-action="Add" asp-controller="User" class="btn btn-info add-new"><i class="fa fa-plus"></i> Yeni Ekle</a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Haber Başlığı</th>
                    <th>Haber Detayları</th>
                    <th>Yazar Adı</th>
                    <th>Uygulamalar</th>
                </tr>
            </thead>
            <tbody>
                @if (!(Model == null))
                {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Baslik</td>
                        <td>@item.Metin</td>
                        <td>@item.Yazar</td>
                        <td>
                            <a class="edit" asp-action="Put" asp-controller="User" asp-route-id="@item.Id" title="Edit" ><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id" title="Delete"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                }
                }

            </tbody>
        </table>
    </div>
</div>